// This first-line comment enables SASS autocompile

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f0f2f4;
    padding: 32px;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .col {
        flex: 1;
        margin-top: 64px;

        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}

h2 {
    text-align: center;
    color: #c64433;
    font-size: 6em;
    height: 80px;
    overflow: hidden;
    opacity: .5;
}

span.score {
    position: absolute;
    padding: 12px 32px;
    top: 80px;
    background-color: #c64433;
    color: white;
    font-size: 2em;
    font-weight: bold;
    border-radius: 40px;
    text-shadow: 0 8px 8px rgba(0,0,0,0.1);
    z-index: 10;
    margin-top: 64px;
}

.col:first-of-type {
    .tweet:first-of-type {
        .remove {
            top: 40px;
        }
    }
}

.col:last-of-type {
    .tweet:first-of-type {
        .user {
            img {
                top: 40px;
            }
        }
    }
}

.tweet {
    position: relative;
    background-color: white;
    margin-bottom: 16px;
    padding: 16px 24px 24px 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);

    .remove {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
        display: none;
        opacity: .2;

        &:hover {
            opacity: 1;
        }
    }

    &:hover {
        .remove {
            display: block;
        }
    }

    .user {
        margin-bottom: 16px;
        display: flex;
        line-height: 1rem;
        margin-top: 8px;

        img {
            position: absolute;
            left: 16px;
            top: 16px;
            border-radius: 50%;
            margin-right: 12px;
        }

        .meta {
            display: flex;
            align-items: baseline;

            h3 {
                font-size: 16px;
                margin-right: 4px;

                a {
                    color: inherit;
                    text-decoration: none;
                }
            }

            h4 {
                font-size: 14px;
                font-weight: normal;
                color: rgba(0,0,0,.6);
                margin-right: 4px;
            }
        }
    }

    .content {
        line-height: 1.5em;

        .img {
            margin-top: 8px;
            display: flex;
            flex-flow: row wrap;

            > div {
                flex: 1;
                min-width: calc(50% - 8px);
                border-radius: 8px;
                background-size: cover;
                background-position: center center;
                margin-top: 8px;

                &::before {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                &:nth-child(odd):not(:last-child) {
                    margin-right: 8px;
                }
            }
        }

        a {
            color: #c64433;
            text-decoration: none;
        }
    }

    &.none {
        padding: 32px 16px;
        text-align: center;
        color: #666;
    }
}

.quote {
    margin-top: 16px;
    margin-bottom: 0;
    box-shadow: none;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    font-size: .9em;
}

#popup-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,.2);
    display: none;

    #popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 32px;
        border-radius: 8px;
        box-shadow: 0 8px 8px rgba(0,0,0,.1);
        text-align: center;

        p {
            color: #666;
            margin-bottom: 16px;
        }
    }
}

.timer {
    position: absolute;
    top: 24px;
    opacity: .5;

    p {
        width: 100%;
        text-align: center;
        font-size: 4em;
        font-weight: bold;
    }
}

@keyframes wiggle {
    20%, 60% {
        transform: translate(calc(-50% - 16px), -50%);
    }

    40%, 80% {
        transform: translate(calc(-50% + 16px), -50%);
    }
}
